Assets/Entities/BattleHUD/Backgrounds
Assets/Entities/Monsters/**/*.png
Assets/TextMesh Pro/
Assets/Entities/Character/**/*.png
Assets/*.png
Assets/Entities/VFX/**/*.png
Assets/Fonts/*.asset


.vsconfig
.vs/
